@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Quicksand:wght@400;500;600;700&display=swap');

.lato-300{
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}
.quicksand-400{
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}
.quicksand-500{
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
}
.quicksand-700{
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}

.max-widthh{
  max-width: 1000px;
}
#ice-cream-img, #box2,#ice-cream-img2, #box3{
  width: 400px;
  height: 400px;
}
#box2 input{
  border: #3a5961 1px solid;
  background: #f8fafb;
}
#box2 input:focus{
  border: #3a5961 1px solid;
  background: #fff;
}
.config-error1{
  top: 8.5rem;
}
.config-error2{
  top: 16.7rem;
}
.config-error3{
  top: 16.7rem;
}